@brand-primary:                 #cc0000;
@brand-secondary:               #869f33;
@link-color:                    #869f33;
@scrollbar-thumb-color:         lighten(@brand-secondary, 10%);
@panel-border:                  1px solid @panel-border-color;
@btn-focused-border:            lightskyblue;